body {
    font-family: Arial, Helvetica, sans-serif
}

* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url("img_nature.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    background-color: azure;
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #8A8A8A;
    color: black;
}

img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 8px;
}

input {
    border: 2px solid #000000;
    border-radius: 12px;
    padding: 3px;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.bg-img,
.container {
    max-width: 1200px;
    width: 100%;
    margin-left: 6%;
}


}
input {
    margin-left: 6%;
    width: 500px;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}
table.ng-scope {
    margin-left: 5%;
    margin-top: -20%;
}